<div class="sandwiches" id="sandwiches">
  <div id="container" class="clearfix infinite-scroll">

    <% Rails.logger.info("params = #{request.params}") %>
    
    <% if request.params["page"].blank? %>

      <div class="box photo col3 front">
        <p class="intro">
          What would you like to eat today? 
          Click on the sandwich you want, <br><br>
          If you wish to keep track of your orders,
          you should <%= link_to "sign up", new_user_path %>
        </p>
      </div> 

    <% end %>


    <%= render 'sandwiches' %>

  </div>

</div>

<nav id="page-nav">
  <% if @category %>
    <a href="/sandwiches?page=2&category=<%= @category %>"></a>
  <% else %>
    <a href="/sandwiches?page=2"></a>
  <% end %>
</nav>




<!-- Modal //-->
<div class="sandwich-modal modal hide" id="modal-window">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 id="modalSandwichLabel">Modal header</h4>
  </div>
  <div class="modal-body">
      <%#= image_tag "loading.gif" %>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
    <a href="#" class="btn btn-primary" id="btn-order">Save changes</a>
  </div>
</div>